.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loading-animation{
  display: flex;
  align-items: center;
  justify-content: center;
}


.single-component{
  animation: components-load 1200ms ease-out;
}


.table-heading-content{
  display: flex;
  align-items: center;
}

.table-heading{
  color:rgb(70, 51, 51);
  /* background-color: #9875D1; */
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.table-image{
  padding-top: 15px;
  width: 200px;
  height: 70px;
}

.table-image-background{
  background-color: rgb(255, 255, 255);
  padding-top: 3px;
  padding-bottom: 8px;
}

.table-head{
  background-color: #9875D1;
}

.tbody-contents{
}

.table-head{
  background-color: #9875D1;
  border:#9875D1;
}

table {
  table-layout:fixed ;
  width: 100%;
}

th,
td {
  width: 20px;
}

.flexible{
  width: 50px;
}

.tbody-contents-squad{
  text-align: center;
}

.squad-table{
  padding: 0px;
  justify-content:space-around;
}

.squad-table-head{
  background-color: #9875D1;
  justify-content:space-around;
  display: flex;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.fixtures{
  padding-bottom: 0px;
}

.squad-table-head-content{
  border-top: none;
  padding: 5px;
  padding-top: 8px;
}

.matchday-border{
  border-bottom: 1px solid rgb(255, 255, 255);;
}
.squad-table-body{
  justify-content:space-around;
  display: flex;
  padding-top: 5px;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-bottom: 10px;
}

.lineups p{
  margin-bottom:1px;
}

.update-container{
  padding-top: 10px;
  font-size: 10px;
}

.team-logo-image{
  margin-top: -18px;
  margin-right: 3px;
  padding-right: 2px;
  width: 24px;
  height: 24px;
}



.update-container-fixtures{
  padding-top: 0px;
}

.score{
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.matchday{
  font-size: 12px !important;
}

.goals{
  padding-top: 5px !important;
}

.squad{
  padding-top: 0px !important;
}

.standings{
  padding-bottom: 0px !important;
}

@keyframes components-load{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0%);
  }

}